//
// Jumbotron
// --------------------------------------------------

.jumbotron {
  min-height: calc(~"100vh - 20px");
  background: url(../assets/images/header_bg.jpg);
  background-size: cover;
  margin-bottom: @section-margin-bottom;
  .wrapper-center {
    top: 45%;
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    padding: 0 160px;
    @media screen and (max-width: @screen-md-max) {
      padding: 0 80px;
    }
    @media screen and (max-width: @screen-sm-max) {
      padding: 0 50px;
    }
    @media screen and (max-width: @screen-xs-max) {
      padding: 0 30px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .btn {
      margin-top: 40px;
    }
  }
}