//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  font-size: @navbar-font-size;
  letter-spacing: @navbar-letter-spacing;
  &.navbar-fixed-top {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 1;
    &.hide-header{
      opacity: 0;
    }
    &.is-fixed{
      background: @brand-secondary;
    }
  }
}

.navbar-brand {
  padding: @navbar-brand-padding-vertical @navbar-padding-horizontal;
}

.navbar-nav {
  > li > a {
    color: @navbar-link-color;
  }

  > li > a {
    &:hover,
    &:focus {
      text-decoration: none;
      background: transparent;
    }
  }
}